<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body>
    {{ partial "cover.html" . }}
    {{ $baseurl := .Site.BaseURL }}
    <section id="content" role="main">
      <section class="entry-meta">
        <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
      </section>
      <article>
        {{ .Content }}
      </article>
      <figure class="author-bio">
        {{ with .Site.Params.avatar }}<img class="bio-image" src="{{ $.Site.BaseURL }}{{ . }}" />{{ end }}
        {{ with .Site.Params.name }}<h3 class="bio-name">{{ . }}</h3>{{ end }}
        {{ with .Site.Params.bio }}<figcaption class="bio-text">{{ . }}</figcaption>{{ end }}
      </figure>
      <hr />
      <!--
      If you're going to use DISQUS comments, insert code here.
      -->
    </section>
    {{ partial "footer.html" . }}
  </body>
</html>