<footer id="footer" style="color: #7A7B7C; background-color: #3A3B3C;
  background-image: url({{ .Site.BaseURL}}/img/texture.png),linear-gradient(to bottom, #3A3B3C, #1d1e1e); 
  background-repeat: repeat, no-repeat; 
  background-position: left top, left top; 
  background-size: 100px 100px, 100% 100%;">
  <div id="copyright">{{ .Site.Copyright | safeHTML }}</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>